.covidTable {
  max-width: 300px;
  margin:auto;
  margin-top: 50px;
}

.landingLinks {
  font-family: 'Bellota', cursive !important;
  font-size: 20px !important;
}

#landingTitle {
  font-family: 'Bellota', cursive !important;
  font-size: 24px !important;
}