@import "./variables";

.postNeedContainer {
  max-width: 300px;
  margin: auto;
}

#addBtn {
  margin: 10px;
}

#userEmail {
  font-family: 'Bellota', cursive;
  font-size: 18px;
}

#zipcodeInput, #userEmail{
  margin-bottom: 10px;
}